<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" rel="stylesheet">
    <title>{% block title %} {% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function addPractice() {
            let nombre = window.prompt('Nombre: ')
            $.post("/home", {
                data: nombre
            });
            window.location.replace("/home");
        }
    </script>
</head>

<body class="background">
    <h1 class="tlogin">Listas de Materiales</h1><br>
    <button class="boton" onclick="addPractice()">Crear Practica</button>
    <div">
        {% for practica in practicas %}
        <div class="listado">
            <a href="/materiales?id={{practica['id']}}" class="practicas">{{ practica["name"] }}</a>
            <a href="/compartir?id={{practica['id']}}" class="compartir"> Compartir </a>
        </div>

        </br>
        {% endfor %}
    </div>
</body>
</html>