.background{
    position: relative;

    background: #37678C;
}

.wdib{
    position: absolute;
    width: 710px;
    height: 116px;
    left: 320px;
    top: 116px;

    font-family: 'Bodoni Moda';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 122px;
}
.registro{
    font-family: 'Bodoni Moda';
    font-style: normal;
    font-weight: 00;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;

    color: #000000;

    position: absolute;
    width: 120px;
    height: 30px;
    left: 879px;
    top: 30px;

    background: #F8B195;
    border-radius: 50px;
}

.login{

    font-family: 'Bodoni Moda';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;

    color: #000000;

    position: absolute;
    width: 120px;
    height: 30px;
    left: 1100px;
    top: 30px;

    background: #F8B195;
    border-radius: 50px;
}

.home{
    font-family: 'Bodoni Moda';
    font-style: normal;
    font-weight: 50;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;

    color: #000000;

    position: absolute;
    width: 120px;
    height: 30px;
    left: 38px;
    top: 30px;

    background: #F8B195;
    border-radius: 50px;
}

.persona1{
    position: absolute;
    width: 678px;
    height: 500px;
    left: -162px;
    top: 80px;
}

.persona2{
    position: absolute;
    width: 428px;
    height: 380px;
    left: 930px;
    top: 250px;
    
}

.persona3{
    position: absolute;
    height: 300px;
    left: 300px;
    top: -40px;
}

.registro2{
    position: absolute;
    width: 232px;
    height: 92px;
    left: 60px;
    top: -50px;

    font-family: 'Bodoni Moda';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 92px;

    color: black;
}

.rol{
    position: absolute;
    height: 46px;
    top: 220px;
    left: 580px;

    font-family: 'Bodoni Moda';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 46px;

    color: #000000;
}

.Rrol{
    position: absolute;
    width: 300px;
    height: 20px;
    left: 540px;
    top: 260px;

    background: none;
    border: none;
    outline: 0px;
	border-bottom: 2px solid #F8B195;
}

.usuario{
    position: absolute;
    top: 80px;
    left: 570px;

    font-family: 'Bodoni Moda';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;

    color: #000000;
}

.rusuario{
    position: absolute;
    width: 300px;
    height: 20px;
    top: 120px;
    left: 540px;

    background: none;
    border: none;
    outline: 0px;
	border-bottom: 2px solid #F8B195;
}

.email{
    position: absolute;
    width: 259px;
    height: 46px;
    left: 560px;
    top: 150px;

    font-family: 'Bodoni Moda';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 46px;

    color: #000000;
}

.remail{
    position: relative;
    width: 300px;
    height: 20px;
    top: 180px;
    left: 15px;

    background: none;
    border: none;
    outline: 0px;
	border-bottom: 2px solid #F8B195;
}

.contraseña{
    position: absolute;
    width: 156px;
    height: 46px;
    left: 610px;
    top: 290px;

    font-family: 'Bodoni Moda';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 46px;

    color: #000000;
}

.rcontraseña{
    position: relative;
    width: 300px;
    height: 20px;
    top: 300px;
    left: 15px;

    background: none;
    border: none;
    outline: 0px;
	border-bottom: 2px solid #F8B195;
}

.registrar{
    position: absolute;
    width: 150px;
    height: 30px;
    left: 568px;
    top: 587px;

    font-family: 'Bodoni Moda';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    text-align: center;

    color: #000000;
}

.tlogin{
    position: absolute;
    width: 600px;
    height: 92px;
    left: 30px;
    top: -25px;

    font-family: 'Bodoni Moda';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 92px;

    color: #000000;
}

.correo{
    position: absolute;
    width: 259px;
    height: 46px;
    left: 590px;
    top: 150px;

    font-family: 'Bodoni Moda';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 46px;
    
}

.rcorreo{
    position: absolute;
    width: 496px;
    height: 25px;
    left: 472px;
    top: 205px;

    background: none;
    border: none;
    outline: 0px;
	border-bottom: 2px solid #F8B195;
}

.lcontra{
    position: absolute;
    width: 259px;
    height: 46px;
    left: 640px;
    top: 240px;

    font-family: 'Bodoni Moda';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 46px;
}

.rlcontra{
    position: absolute;
    width: 496px;
    height: 25px;
    left: 472px;
    top: 300px;

    background: none;
    border: none;
    outline: 0px;
	border-bottom: 2px solid #F8B195;
}

.lregistro{
    position: absolute;
    width: 190px;
    height: 31px;
    left: 377px;
    top: 620px;

    font-family: 'Bodoni Moda';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
}

.blogin{
    position: absolute;
    width: 125px;
    height: 30px;
    left: 650px;
    top: 350px;

    font-family: 'Bodoni Moda';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;

    color: #000000;
}

.nocuenta{
    position: absolute;
    width: 190px;
    height: 31px;
    left: 377px;
    top: 420px;

    font-family: 'Bodoni Moda';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    
    background: #F8B195;
    border-radius: 50px;
}