<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" rel="stylesheet">
    <title>{% block title %} {% endblock %}</title>
</head>

<body class="background5">
    <center>
        <h1 class="listaMaterial">Listas de Materiales</h1><br>
    </center>
    <a class="boton salir" href="/layout">Salir </a>
    {% for practica in practicas %}
    <a class="practicas" href="/materiales?id={{practica['id']}}">{{ practica["name"] }}</a>
    </br>
    {% endfor %}
</body>

</html>