<body class="background">
        <center>
        <form action="/home" method="POST">
            <h1 class="registro2">Listas de tareas</h1><br>
            <div>
                <label class="usuario">Material:</label>
                <input type="text" class="form-input" name="material">
            </div>

            <div>
                <label class="rol">Cantidad:</label>
                <input type="text" class="form-input" name="cantidad">
            </div>

            <div>
                <button class="Registrar">Agregar</button>
            </div>
        </form>
    </center>
    </div>
    
</body>