<head>
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body class="background3"></body>

<div>
    <center>
        <h1 class="inicioSesion">Inicio de Sesion</h1>
    </center>
        <div >

            <img src = "../static/img/Rubia.svg" class="persona4"/>
            <form action="/login" method="POST">
                <div>
                    <label class="correo">Correo Electronico:</label>
                    <input type="email" class="rcorreo" name="email">
                </div>
                
                <div>
                    <label class="lcontra">Contraseña:</label>
                    <input type="password" class="rlcontra" name="password">
                </div>
                
                <div >
                    <button class="boton blogin">Login</button>
                </div>

                <div class="nocuenta">
                    <a>¿Aun no tienes cuenta? </a> <a href="/registro">Registro</a>
                </div>
    
            </form>

        </div>
    </div>