<head>
    <link href="../static/css/style.css" rel="stylesheet">
</head>

<body class="background5">
    <center>
        <h1 class="Materiales">Materiales</h1><br>
    </center>
        <form action="/materiales?id={{practica_id}}" method="POST">
            <div>
                <label class="material">Material:</label>
                <input type="text" class="rmaterial" name="material">
            </div>

            <div>
                <label class="cantidad">Cantidad:</label>
                <input type="text" class="rcantidad" name="cantidad">
            </div>

            <div>
                <button class="boton bagregar">Agregar</button>
            </div>
            
            <div>
                <a  class="boton bregresar" href="/home">Regresar </a>
            </div>
        </form>

        {% for material in materiales %}
        <div class="listam">
            <p class="material2">{{ material["material"] }}</p>
            <p class="cantidad2">{{ material["cantidad"] }}</p>
        </div>
        {% endfor %}
        {% if rol == 1 %}
        {% endif %}
    </div>
</body>