<body class="background">
    <center>
        <h1 class="registro2">Materiales</h1><br>
        {% for material in materiales %}
        <p>{{ material["material"] }}</p>
        <p>{{ material["cantidad"] }}</p>
        {% endfor %}

        {% if rol == 1 %}
        <form action="/materiales?id={{practica_id}}" method="POST">
            <div>
                <label class="usuario">Material:</label>
                <input type="text" class="form-input" name="material">
            </div>

            <div>
                <label class="rol">Cantidad:</label>
                <input type="text" class="form-input" name="cantidad">
            </div>

            <div>
                <button class="Registrar">Agregar</button>
            </div>
        </form>
        {% endif %}
    </center>
    </div>

</body>