<head>
    <link href="../static/css/style.css" rel="stylesheet">
</head>

<body class="background">
        <form action="/materiales?id={{practica_id}}" method="POST">
            <div>
                <label class="usuario">Material:</label>
                <input type="text" class="form-input" name="material">
            </div>

            <div>
                <label class="rol">Cantidad:</label>
                <input type="text" class="form-input" name="cantidad">
            </div>

            <div>
                <button class="Registrar">Agregar</button>
            </div>
        </form>
        <h1 class="tlogin">Materiales</h1><br>
        {% for material in materiales %}
        <p>{{ material["material"] }}</p>
        <p>{{ material["cantidad"] }}</p>
        {% endfor %}

        {% if rol == 1 %}

        {% endif %}
    </div>

</body>